# Dependencies
node_modules/
**/node_modules/

# Firebase local cache & logs
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Build outputs
dist/
**/dist/
build/

# Environment & Secrets
.env
.env.local
.env.*.local

# OS / Editor junk
.DS_Store
Thumbs.db
